.mcc-grid-container {
  font-size: 12px;

  .can-scroll-x {
    overflow-x: auto;
  }

  .can-scroll-y {
    overflow-y: auto;
  }

  thead th {
    padding: 8px;
  }

  tr {
    &:hover {
      background: #f5f5f5;

      td {
        background: #ecf1ff;
      }

      th {
        background: #fff;
      }
    }
  }

  td {
    border-bottom: 1px solid #dad5cf;
    padding: 8px;

    &.mcc-delete-cell {
      text-align: right;

      .mcc-delete-row-btn {
        color: #000;
        display: inline-block;
        font: normal normal normal 14px/1px FontAwesome;
        text-decoration: none;

        &:before {
          content: "\f057";
        }

        &:hover:before {
          color: red;
        }

        &.delete-in-progress:before {
          color: #000;
          content: "\f110";
          animation: fa-spin 2s infinite linear;
        }
      }
    }
  }

  .mcc-grid-pagination {
    padding: 10px 15px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #ddd;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    .clearfix:after {
      clear: both;
    }

    .total-results {
      border-right: 1px solid #dad5cf;
      float: left;
      padding-right: 10px;
      width: auto;
    }

    .per-page {
      color: #666;
      float: left;
      padding: 0 10px;
      width: auto;

      ul, li, span {
        display: inline-block;
      }

      li {
        padding: 2px;
      }

      ul {
        margin: 0;
        padding: 0;
      }
    }

    .controls {
      border-radius: 3px;
      float: right;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        float: left;

        &.counter {
          padding: 0 10px;
        }

        button {
          background: #fff;
          border: 1px solid #eee;
          box-sizing: border-box;
          color: #333;
          display: block;
          font-size: 15px;
          height: 22px;
          line-height: 1;
          width: 33px;
          text-align: center;

          &:focus {
            outline: 0;
          }

          &:hover {
            background: #eee;
          }

          &[disabled] {
            background: #fff;
          }
        }

        input {
          background-color: #fff;
          border-radius: 0;
          box-sizing: border-box;
          height: 22px;
          text-align: center;
          width: 32px;
        }
      }
    }
  }
}
