<div class="mcc-grid-pagination">
  <div class="clearfix">
    <div class="total-results">
      <b class="ng-binding">{{ PaginationCtrl.getTotalCount() }}</b><span class="ng-binding"> Total Result(s)</span>
    </div>
    <div class="per-page">
      <span class="ng-binding">Per page</span>
      <ul>
        <li ng-repeat="pageLength in PaginationCtrl.getPerPageSizes()">
          <a href="" ng-class="{selected: PaginationCtrl.isPageSelected(pageLength)}" ng-click="PaginationCtrl.setPageSize(pageLength)">{{ pageLength }}</a>
        </li>
      </ul>
    </div>
    <ul class="controls">
      <li>
        <button class="first fa fa-angle-double-left"
            ng-click="PaginationCtrl.gotoFirstPage()"
            ng-disabled="!PaginationCtrl.isFirstPageEnabled()"></button>
      </li>
      <li>
        <button class="previous fa fa-angle-left"
            ng-click="PaginationCtrl.gotoPrevPage()"
            ng-disabled="!PaginationCtrl.isPrevPageEnabled()"> </button>
      </li>
      <li class="counter">
        <form ng-submit="inputPage()">
          <input ng-model="PaginationCtrl.getState().page"> <span class="ng-binding">of</span> <span class="total-pages" ng-bind="PaginationCtrl.getTotalPages()"></span>
        </form>
      </li>
      <li>
        <button class="next fa fa-angle-right" ng-click="PaginationCtrl.gotoNextPage()"
            ng-disabled="!PaginationCtrl.isNextPageEnabled()"> </button>
      </li>
      <li>
        <button class="last fa fa-angle-double-right"
            ng-click="PaginationCtrl.gotoLastPage()"
            ng-disabled="!PaginationCtrl.isLastPageEnabled()"></button>
      </li>
    </ul>
</div>
</div>