<div class="mcc-grid-pagination">
  <div class="clearfix">
    <div class="total-results">
      <b class="ng-binding">{{ FooterCtrl.getTotalCount() }}</b><span class="ng-binding"> Total Result(s)</span>
    </div>
    <div class="per-page">
      <span class="ng-binding">Per page</span>
      <ul>
        <li ng-repeat="pageLength in FooterCtrl.getPerPageSizes()">
          <a href="" ng-class="{selected: isPerPageSelected(pageLength)}" ng-click="FooterCtrl.setPageSize(pageLength)">{{ pageLength }}</a>
        </li>
      </ul>
    </div>
    <ul class="controls">
      <li><a ng-click="FooterCtrl.gotoFirstPage()" class="first disabled" ng-class="{disabled: isFirstPage()}"><i class="fa fa-angle-double-left"></i></a></li>
      <li><a ng-click="FooterCtrl.gotoPrevPage()" class="previous disabled" ng-class="{disabled: isFirstPage()}"><i class="fa fa-angle-left"></i></a></li>
      <li class="counter"><form ng-submit="inputPage()" class="ng-pristine ng-valid"><input ng-model="config.inputPage" maxlength="1" ng-disabled="isOnePage()" ng-blur="resetInput()" autocomplete="off" class="ng-pristine ng-valid"> <span class="ng-binding">of</span> <span class="total-pages ng-binding" ng-bind="config.totalPages">2</span></form></li>
      <li><a ng-click="FooterCtrl.gotoNextPage()" class="next" ng-class="{disabled: isLastPage()}"><i class="fa fa-angle-right"></i></a></li>
      <li><a ng-click="FooterCtrl.gotoLastPage()" class="last" ng-class="{disabled: isLastPage()}"><i class="fa fa-angle-double-right"></i></a></li>
    </ul>
</div>
</div>